.search-pic {
  @include image('../images/search-32.png', 0% 0%, 32px, 32px); 
  display: block;
  position: absolute;
  top: 30px;
  margin-left: 5px;
    @media (max-width: 768px) {
      top: auto;
    }
}
.search {
  background-color: #f0f0f0;
  border-radius: 10px;
  width: 280px;
  height: 35px;
  border: none;
  padding-left: 2.7rem;
  transition: 0.1s;
  @include fonts(black, 'Lato', 700, 20px, normal);
    &:focus, &:focus-visible {
      border: none;
      outline: 2px solid black;
    }
}
